.box {
    width:38px;
    height:38px;
    background:#f1f1f1;
    float:left;
    margin: 0 0 0 0;
    text-align:center;

}
.container {
    width: 950px;
    height: 608px;
    position: relative;
    text-align:center;
}