.box {
    width:39px;
    height:39px;
    float:left;
    margin: 1px 1px 1px 1px;
    text-align:center;

}
.container {
    width: 1000px;
    height: 640px;
    position: relative;
    text-align:center;
}

#containerForLogin {
    width: 481px;
    height: 481px;
    position: relative;
    text-align:center;
}

.hidden{
display: none;
}