<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" href="./static/logo.jpg" type="image/jpg">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}" >
</head>
<body>
<h1>Авторизация</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div>
    <p id="errorMessage" class="hidden">Ошибка в логине или пароле</p>
</div>
<form method="POST" action="firstFactor" id="form">
    <table>
        <tr>
            <td>Логин</td>
            <td><input type="text" name="login" id="login"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
            <td><input id="coordinateOfClick" type="hidden" name="coordinateOfClick"></td>
        </tr>
    </table>
</form>
<tr>
    <td><button onclick="checkLoginPassword()">Войти</button></td>
    <td><a href="{{url_for('register')}}">Регистрация</a> </td>
</tr>
<div id="containerForLogin" >
    <img id="loginImg">
</div>

<script>
var ajax = new XMLHttpRequest();
ajax.onreadystatechange = function() {
    var errorMark=0;
    if (ajax.readyState == 4) {
        if (ajax.status == 200) {
            if(ajax.responseText=="success"){
                location="success";
        	}
	        else if(ajax.responseText.slice(0,15)=="<!DOCTYPE html>"){
	            location="firstFactor";
	        }
	        else if(ajax.responseText=='error'){
	            document.getElementById("errorMessage").className='';
	        }
	        else{
                document.getElementById("loginImg").src="data:image/png;base64,"+ajax.responseText;
                document.getElementById("errorMessage").className='hidden';
            }
    	}
	}
}


function checkLoginPassword(){
    params='login=' + document.getElementById('login').value + '&password=' + document.getElementById('password').value;
    ajax.open('POST', 'firstFactor');
    ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    ajax.send(params);

}
function printMousePos(event) {
    console.log("clientX: " + event.offsetX + " - clientY: " + event.offsetY);
    mass=[event.offsetX,event.offsetY]
    params='login=' + document.getElementById('login').value + '&password=' + document.getElementById('password').value + '&coordinate=' + mass.join();
<!--    document.getElementById('coordinateOfClick').setAttribute('value', mass.join());-->
    ajax.open('POST', 'firstFactor');
    ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    ajax.send(params);

}

document.getElementById("containerForLogin").addEventListener("click", printMousePos);
</script>
</body>
</html>