<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}" >
</head>
<body>
<div id="radio">
    <input type="radio" onMouseDown="this.isChecked=this.checked;" onClick="this.checked=!this.isChecked;" id="checkMod" value="0"/>Быстрый режим
</div>
<h1>Авторизация</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li id="flash">{{message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div id="firstFactorContainer">
<div>
    <p id="errorMessage" class="hidden">Ошибка в логине или пароле</p>
</div>
<form method="POST" action="firstFactor" id="form">
    <table>
        <tr>
            <td>Логин</td>
            <td><input type="text" name="login" id="login"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
            <td><input id="coordinateOfClick" type="hidden" name="coordinateOfClick"></td>
        </tr>
    </table>
</form>
<tr>
    <td><button onclick="checkLoginPassword()">Войти</button></td>
    <td><a href="{{url_for('register')}}">Регистрация</a> </td>
</tr>
</div>
<div id="containerForLogin" >
    <img id="loginImg">
</div>
<div id="my_modal" class="modal">
<div class="modal_content">
  <span class="close_modal_window">×</span>
  <p>Вы превысили число ошибочных попыток входа и нам пришлось заблокировать Ваш аккаунт. Что бы снять блокировку,
      воспользуйтесь процедурой восстановления доступа.</p>
    <button onclick="recovery()">Восстановить доступ</button>
    <button onclick="back_to_auth()">Вернуться к авторизации</button>
</div>
</div>
<style>
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
</style>
<script>
 var modal = document.getElementById("my_modal");
 var btn = document.getElementById("btn_modal_window");
 var span = document.getElementsByClassName("close_modal_window")[0];

 span.onclick = function () {
    modal.style.display = "none";
 }

 window.onclick = function (event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
function back_to_auth(){
    location="firstFactor";
}

var ajax = new XMLHttpRequest();
ajax.onreadystatechange = function() {
    var errorMark=0;
    if (ajax.readyState == 4) {
        if (ajax.status == 200) {
            if(ajax.responseText=="success"){
                location="success";
        	}
	        else if(ajax.responseText.slice(0,15)=="<!DOCTYPE html>"){
	            location="firstFactor";
	        }
	        else if(ajax.responseText=='error'){
	            document.getElementById("errorMessage").innerHTML='Ошибка в логине или пароле';
	            document.getElementById("errorMessage").className='';
	        }
	        else if(ajax.responseText=='banned'){
	            modal.style.display = "block";

	        }
	        else{
                document.getElementById("loginImg").src="data:image/png;base64,"+ajax.responseText;
                document.getElementById("errorMessage").className='hidden';
                document.getElementById('firstFactorContainer').className='hidden';
                document.getElementById('flash').className='hidden';
            }
    	}
	}
}


function checkLoginPassword(){
    params='login=' + document.getElementById('login').value + '&password=' + document.getElementById('password').value
    + '&fastMod=' + document.getElementById('checkMod').checked;
    ajax.open('POST', 'firstFactor');
    ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    ajax.send(params);


}
function printMousePos(event) {
    console.log("clientX: " + event.offsetX + " - clientY: " + event.offsetY);
    mass=[event.offsetX,event.offsetY]
    params='login=' + document.getElementById('login').value + '&password=' + document.getElementById('password').value
    + '&coordinate=' + mass.join() + '&fastMod=' + document.getElementById('checkMod').checked;
    ajax.open('POST', 'firstFactor');
    ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    ajax.send(params);

}

document.getElementById("containerForLogin").addEventListener("click", printMousePos);
</script>
</body>
</html>